.card-product {
  overflow: hidden;
  height: 240px;
  margin: 32px 0;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Button

.btn-flat {
  color: white;
  padding: 8px 24px;
  display: inline-block;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
