// @import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

@import "navbar.css.scss";
@import "card-product.css.scss";
@import "buttons.css.scss";
@import "banner.css.scss";
@import "footer.css.scss";
@import "pages.css.scss";
@import "brand.css.scss";


.fav {
  height: 80px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.fav > .fav-header {
  display: inline;
}

.fav > .fav-header > .fav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.fav > .fav-btn {
  display: none;
}

.fav > .fav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.fav > .fav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: $brand-primary;
}

.fav > .fav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.fav > #fav-check {
  display: none;
}

@media (max-width:600px) {
  .fav > .fav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .fav > .fav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .fav > .fav-btn > label:hover,.fav  #fav-check:checked ~ .fav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .fav > .fav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid $brand-primary;
  }
  .fav > .fav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
  }
  .fav > .fav-links > a {
    display: block;
    width: 100%;
  }
  .fav > #fav-check:not(:checked) ~ .fav-links {
    height: 0px;
  }
  .fav > #fav-check:checked ~ .fav-links {
    height: 100%;
    overflow-y: auto;
  }
}

body {
  background: white !important;
  font-family: 'Balsamiq Sans', cursive !important;
  font-family: 'Playfair Display', serif !important;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.section {
  margin: 80px 0;
  font-family: 'Playfair Display', serif;
}

.contact-item {
  margin: 40px 0;
}

.contact-item i {
  font-size: 32px;
}

.section-header{
  margin: 50px 0;
}

.section p {
  font-size: 20px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

