// body {
//   background-color: #fbc547;
//   color: #333;
//   font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
//     "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
//     "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
//     "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
//   padding: 18vh 1rem;
//   text-align: center;
// }

body {
  background: white !important;
  font-family: 'Playfair Display', serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

@import "navbar.css.scss";
@import "card-product.css.scss";
@import "buttons.css.scss";
@import "banner.css.scss";
@import "footer.css.scss";

.section {
  margin: 80px 0;
  font-family: 'Playfair Display', serif;
}

// .banner {
//   height: 50vh;
//   background-size: cover;
//   color: white;
//   font-family: 'Playfair Display', serif;
// }

// .banner h1 {
//   font-size: 78px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

// }

.contact-item {
  margin: 40px 0;
}

// .banner h4 {
//   font-size: 40px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

.contact-item i {
  font-size: 32px;
}

.section-header{
  margin: 30px 0;
}

.section p {
  font-size: 20px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

