<!-- <div class="banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/banner-back.jpg);">
  <div class="container" style="width: 100%">
    <h1>Groove with Gaia</h1>
    <h4>Interact with the beauty around you</h4>
    <div class="btn-banner">
      <%#= link_to "Find Earth Medicines", "#", class: "btn-banner" %>
    </div>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/banner-back.jpg);">
  <div class="container">
    <h1>Interact with the beauty around you</h1>
    <p>Facilitating connection and healing. Join our tribe of movers.</p>
    <a class="btn btn-banner" href="/partners.html">Get Earthed!</a>
  </div>
</div>
