<div class="banner text-center d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/banner-back.jpg);">
  <div>
    <h1>Groove with Gaia</h1>
    <h4>Interact with the beauty around you</h4>
  </div>
</div>
