<div class="section-header">
  <h2>Keep up with us</h2>
  <h6>Wanna collab and connect?</h6>
</div>
<div class="d-flex">
  <div class="contact-item">
    <a href="mailto: groovewithgaia@gmail.com" target="_blank">
      <i class="fas fa-envelope"></i>
      <p>groovewithgaia@gmail.com</p>
    </a>
  </div>
  <div class="contact-item">
    <a href="https://vm.tiktok.com/ZMJhGN2tF/" target="_blank">
      <i class="fab fa-tiktok"></i>
      <p>@groovewithgaia</p>
    </a>
  </div>
  <div class="contact-item">
    <a href="https://open.spotify.com/user/mxtfkx8b7dv4h0pxo3eu6gg0e?si=TB6RiTc8QpWM2vL_Qjvf8A" target="_blank">
      <i class="fab fa-spotify"></i>
      <p>Groove with Gaia</p>
    </a>
  </div>
</div>
