<div class="footer">
  <div class="footer-info">
    <h2>Want to connect or collaborate?</h2>
    <p>We'd love to hear what you're thinking</p>
  </div>
  <div class="footer-links">
    <a href="https://vm.tiktok.com/ZMJhGN2tF/" target="_blank">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="mailto: groovewithgaia@gmail.com" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://open.spotify.com/user/mxtfkx8b7dv4h0pxo3eu6gg0e?si=TB6RiTc8QpWM2vL_Qjvf8A" target="_blank">
      <i class="fab fa-spotify"></i>
    </a>
    <a href="https://www.instagram.com/groovewithgaia/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
<!--   <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div> -->
</div>
