<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/banner-back.jpg);">
  <div class="container">
    <h1>Bringing you the best</h1>
    <p>We partner with mission-driven organizations for people and planet healing</p>
  </div>
</div>

