<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/banner-back.jpg);">
  <div class="container">
    <h1>Interact with the beauty around you</h1>
    <p>Embrace and feel the healing power of our planet through Groove with Gaia</p>
    <a class="btn btn-banner" href="/partners.html">Let's do it!</a>
  </div>
</div>
