<div class="music-player">
  <h2>Get down to our latest sounds...</h2>
  <iframe src="https://open.spotify.com/embed/playlist/6tCWBasNYooA4pmqCy9c3F" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <p>Find our full library of music <a class="" href="https://open.spotify.com/user/mxtfkx8b7dv4h0pxo3eu6gg0e?si=TB6RiTc8QpWM2vL_Qjvf8A">here!</a></h6>
</div>
