<div class="section-header">
  <h2>We are on a mission to integrate the healing power of mindful movement, meditation, and mother nature into everyday life. Our vision is humanity united by truth and love in a harmonious new relationship with Mother Earth.</h2>
</div>
<p>
  Humans evolved in connection with the Earth’s healing energy. Today, the modern world has increasingly separated us from the primordial flow of Earth’s electrons. This disconnect contributes to major physiological dysfunctions and a state of ill health. A review of the health implications of reconnecting the human body to the Earth’s electrons in the Journal of Environmental and Public Health found many beneficial physiological changes such as improved inflammation disorders, reduced chronic pain, deeper sleep, increased vitality, lower stress levels, relief of muscle tension and headache, improved blood pressure, and stabilized biological rhythms. Through embodying true connection and oneness with all life on Earth, we will come to know inner peace and understand the importance of conserving the natural world.
</p>
