<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/banner-back.jpg);">
  <div class="container">
    <h1>Jam with us</h1>
    <p>Our playlists are crafted for dancing with nature</p>
  </div>
</div>

