<div class="section-header">
  <h2>Our Story</h2>
</div>
<div class="d-flex">

<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@groovewithgaia/video/6870662054290803973" data-video-id="6870662054290803973" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@groovewithgaia" href="https://www.tiktok.com/@groovewithgaia">@groovewithgaia</a> <p>Use this sound and groove with Gaia 🌏 <a title="youhaveto" target="_blank" href="https://www.tiktok.com/tag/youhaveto">##YouHaveTo</a> <a title="groovewithgaia" target="_blank" href="https://www.tiktok.com/tag/groovewithgaia">##groovewithgaia</a> <a title="naturedance" target="_blank" href="https://www.tiktok.com/tag/naturedance">##naturedance</a> <a title="protectourplanet" target="_blank" href="https://www.tiktok.com/tag/protectourplanet">##protectourplanet</a> <a title="thatshot" target="_blank" href="https://www.tiktok.com/tag/thatshot">##ThatsHot</a></p> <a target="_blank" title="♬ The Dance With Nature - groovewithgaia" href="https://www.tiktok.com/music/The-Dance-With-Nature-6870661969746217733">♬ The Dance With Nature - groovewithgaia</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
<div>
  <p>
    In 2019, Cam and Eli danced into each other’s lives in Bali, Indonesia. Cam is from Hong Kong and Eli is from Brooklyn, New York. Cam was working in communications and conservation science for the Coral Triangle Center, a local non-profit organization that inspires people to save the oceans. Eli was engaged with projects through his innovation lab, Change Init, and the lead instructor at Le Wagon Bali, a global coding bootcamp. Together, they hosted silent sunset dances on the beaches of Bali with mindfully curated playlists, empowering people to embrace and connect with Mother Earth — bringing Groove with Gaia to life.
  </p>
  <p>
    Cam holds a B.A. in Earth and Oceanographic Science and Environmental Studies, and is currently pursuing a M.S. in Natural Resources and Environmental Management at the University of Hawaiʻi at Mānoa. Over the years, she has pursued research in biological oceanography at the National Oceanic and Atmospheric Administration (NOAA) and several academic institutions. Recently, her research interests have shifted towards understanding and developing social-ecological resilient reef management strategies.
  </p>
  <p>
    Eli is a multi-disciplinary entrepreneur crossing the inevitabilities of technology with the insights of ancestral knowledge. He was first an innovation consultant at a foresight and futures consultancy, then led corporate innovation at Southeast Asia’s first startup ecosystem prior to leaving job life to discover freedom. He has since lived and worked across the globe bringing whole-systems thinking to for-purpose endeavors surrounding education, empowerment, and ecology. He combines the technical, creative, and strategic to sculpt and drive missions that raise vibration.
  </p>
</div>
</div>
