<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/tree-img.jpg);">
  <div class="container">
    <h1>Grateful you made it here!</h1>
    <p>If you want to support our mission, you're in the right place</p>
  </div>
</div>

