html, body {
  height: 100%; }

body {
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #B7E8EB 100%);
  overflow: hidden; }

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871; }

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1; }

@-webkit-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0); }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); } }

@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0); }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); } }

@-webkit-keyframes filling {
  from {
    background-position: center 25%; }
  to {
    background-position: center 50%; } }

@keyframes filling {
  from {
    background-position: center 25%; }
  to {
    background-position: center 50%; } }

.container-text {
  background-image: url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #FFFFFF;
  padding-top: 20px;
  font-size: 170px;
  font-family: 'Bungee', cursive;
  -webkit-animation: filling 3s ease forwards;
          animation: filling 3s ease forwards; }

body {
  margin: 0;
  background: #D1EBD4;
  overflow: hidden;
  text-align: center;
  height: 100vh; }
  body svg {
    margin: 0 auto;
    width: 400px;
    position: relative;
    z-index: 1;
    top: 50%;
    height: 100%; }
    body svg .line:nth-of-type(1) {
      -webkit-animation: dash_loader 1s 1.5s linear forwards;
              animation: dash_loader 1s 1.5s linear forwards; }
    body svg .line:nth-of-type(2) {
      -webkit-animation: dash_loader 1s 1.6s linear forwards;
              animation: dash_loader 1s 1.6s linear forwards; }
    body svg .line:nth-of-type(3) {
      -webkit-animation: dash_loader 1s 1.7s linear forwards;
              animation: dash_loader 1s 1.7s linear forwards; }
    body svg .line:nth-of-type(4) {
      -webkit-animation: dash_loader 1s 1.8s linear forwards;
              animation: dash_loader 1s 1.8s linear forwards; }
    body svg .line:nth-of-type(5) {
      -webkit-animation: dash_loader 1s 1.9s linear forwards;
              animation: dash_loader 1s 1.9s linear forwards; }
    body svg .line:nth-of-type(6) {
      -webkit-animation: dash_loader 1s 2s linear forwards;
              animation: dash_loader 1s 2s linear forwards; }
    body svg .line:nth-of-type(7) {
      -webkit-animation: dash_loader 1s 2.1s linear forwards;
              animation: dash_loader 1s 2.1s linear forwards; }
    body svg .line:nth-of-type(8) {
      -webkit-animation: dash_loader 1s 2.2s linear forwards;
              animation: dash_loader 1s 2.2s linear forwards; }
    body svg .line:nth-of-type(9) {
      -webkit-animation: dash_loader 1s 2.3s linear forwards;
              animation: dash_loader 1s 2.3s linear forwards; }
    body svg .line:nth-of-type(10) {
      -webkit-animation: dash_loader 1s 2.4s linear forwards;
              animation: dash_loader 1s 2.4s linear forwards; }

.forest img {
  height: 100%;
  max-height: 1000px;
  position: absolute;
  bottom: 100%;
  left: 0; }

.forest img:nth-of-type(1) {
  -webkit-animation: popup 0.7s 0.1s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.1s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(2) {
  -webkit-animation: popup 0.7s 0.2s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.2s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(3) {
  -webkit-animation: popup 0.7s 0.3s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.3s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(4) {
  -webkit-animation: popup 0.7s 0.4s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.4s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(5) {
  -webkit-animation: popup 0.7s 0.5s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.5s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(6) {
  -webkit-animation: popup 0.7s 0.6s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.6s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(7) {
  -webkit-animation: popup 0.7s 0.7s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.7s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(8) {
  -webkit-animation: popup 0.7s 0.8s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.8s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(9) {
  -webkit-animation: popup 0.7s 0.9s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 0.9s forwards cubic-bezier(0, 0.615, 0, 0.995); }

.forest img:nth-of-type(10) {
  -webkit-animation: popup 0.7s 1s forwards cubic-bezier(0, 0.615, 0, 0.995);
          animation: popup 0.7s 1s forwards cubic-bezier(0, 0.615, 0, 0.995); }

@-webkit-keyframes popup {
  from {
    bottom: -100%; }
  to {
    bottom: 0; } }

@keyframes popup {
  from {
    bottom: -100%; }
  to {
    bottom: 0; } }

path, polyline, line {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  stroke-width: 12px;
  stroke-miterlimit: 10;
  stroke-linejoin: round;
  fill: none;
  stroke: white;
  z-index: 1;
  opacity: 1; }

@-webkit-keyframes dash_loader {
  to {
    stroke-dashoffset: -0;
    stroke-width: 3px;
    stroke: white; } }

@keyframes dash_loader {
  to {
    stroke-dashoffset: -0;
    stroke-width: 3px;
    stroke: white; } }
