---
title: Groove with Gaia
---

<div>
  <div class="manifesto section">
    <%= partial "partials/mission" %>
  </div>

  <div class="bio section">
    <%= partial "partials/bio" %>
  </div>
</div>




