---
title: Welcome to Middleman
---

    <div class="container" style="height: 100vh">

      <div class="manifesto section">
        <%= partial "partials/mission" %>
      </div>

      <div class="bio section">
        <%= partial "partials/bio" %>
      </div>

      <div class="spotify section">
        <div class="section-header">
          <h2>What we're jamming to</h2>
          <h6>Our playlists are crafted for you to dance with nature!</h6>
        </div>

        <iframe src="https://open.spotify.com/embed/playlist/7HxQtsFQFTYCowdYU07veq" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="keep-up section">
        <%= partial "partials/contact" %>
      </div>
    </div>




