---
title: Welcome to Middleman
---

<div style="height: 100vh">
  <div class="manifesto section">
    <%= partial "partials/mission" %>
  </div>

  <div class="bio section">
    <%= partial "partials/bio" %>
  </div>

  <div class="spotify section">
    <%= partial "partials/jamming" %>
  </div>

  <div class="keep-up section">
    <%= partial "partials/contact" %>
  </div>
</div>




