<div class="section">
  <h1>Earth Medicines</h1>
  <p>We want you to be in your best health with your best self</p>

  <div class="cards">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Your Super</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
        <%= link_to "Your Super", "https://yoursuper.krym8q.net/5eVZL", target: "_blank", class: "btn-flat"  %>
      </div>
    </div>

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Fractal Forest</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
        <%= link_to "Fractal Forest", "https://fractalforestkauai.com/collections/all?ref=QZ_W69TVD", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

</div>

<div class="section">
  <h1>Protect Our Planet</h1>
  <p>We want you to be in your best health with your best self</p>
  <%= link_to "Plant a Tree" "https://onetreeplanted.org/" %>
</div>


