<h1>Earth Medicines</h1>
<p>We want you to be in your best health with your best self</p>

<%= link_to "Your Super", "https://yoursuper.krym8q.net/5eVZL", target: "_blank"  %>

<div class="card-container">

</div>



<%= link_to "Fractal Forest", "https://fractalforestkauai.com/collections/all?ref=QZ_W69TVD", target: "_blank" %>


<h1>Protect Our Planet</h1>
<p>We want you to be in your best health with your best self</p>

<%= link_to "Plant a Tree" "https://onetreeplanted.org/" %>
