---
title: Support Groove with Gaia
---

<div class="spotify section">
  <h2>This is only the beginning...</h2>
  <p>We appreciate your support in so many ways, and if you feel compelled to donate - you can be ensured that it will go to good use. Any contributions allow us to bring more into the world.</p>
  <a href="">donate</a>
</div>
